{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap %}

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>
    <script src="{% static 'Newkit/scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Newkit/style.css' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Newkit/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href= href="{% static 'Newkit/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Newkit/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'Newkit/site.webmanifest' %}">
</head>

<body style="font-family:'lato';font-style: normal;">

    <form id="submitfilter" method="GET">
        {{filter.form|bootstrap}}

        <button type="submit" id="team_search" class="btn btn-primary">Search</button>

        <h2 style="font-family:'lato';font-style: normal;">
            Make a difference by supporting the teams that need it the most during Covid-19. 	&#9917;🏆
        </h2>
        <ul class="the-list" style="font-family:'lato';font-style: normal;">
            {% for snippet in filter.qs%}
            <li class="list-item">
                <a href="/home/payments">{{snippet.team}}  </a>
            </li>
            {% endfor %}
        </ul>

        <div id="menuSlideContainer" style="font-family:'lato';font-style: normal;">
            <div id="menuSlideButton"><center><div class="pad">Leagues</div></center></div>
            <div id="menuSlideContent">
                <div id="menuSlidePad" style="font-family:'lato';font-style:normal;">

                    <button form="submitfilter" onclick="art4()" id="loadleague4">SkyBet Championship</button>
                    <button form="submitfilter" onclick="art5()" id="loadleague5">SkyBet League 1</button>
                    <button form="submitfilter" onclick="art6()" id="loadleague6">SkyBet League 2</button>
                    <button form="submitfilter" onclick="art()" id="loadleague">The Vanarama National League</button>
                    <button form="submitfilter" onclick="art2()" id="loadleague2">Vanarama National League north</button>
                    <button form="submitfilter" onclick="art3()" id="loadleague3">Vanarama National League south</button>
                    <button form="submitfilter" onclick="art10()" id="loadleague10">BetVictor Northern - Premier</button>
                    <button form="submitfilter" onclick="art7()" id="loadleague7">BetVictor Isthmian - Premier</button>
                    <button form="submitfilter" onclick="art8()" id="loadleague8">BetVictor Southern - Premier Central</button>
                    <button form="submitfilter" onclick="art9()" id="loadleague9">BetVictor Southern - Premier South</button>
                </div>
            </div>
        </div>

        <script>
            function art() {
                var searchtext = document.getElementById('loadleague').textContent;
                document.getElementById('id_league__icontains').value = searchtext;
            };
            art()
            function art2() {
                var searchtext2 = document.getElementById('loadleague2').textContent;
                document.getElementById('id_league__icontains').value = searchtext2;
            };
            art2()
            function art3() {
                var searchtext3 = document.getElementById('loadleague3').textContent;
                document.getElementById('id_league__icontains').value = searchtext3;
            };
            art3()
            function art4() {
                var searchtext = document.getElementById('loadleague4').textContent;
                document.getElementById('id_league__icontains').value = searchtext;
            };
            art4()
            function art5() {
                var searchtext2 = document.getElementById('loadleague5').textContent;
                document.getElementById('id_league__icontains').value = searchtext2;
            };
            art5()
            function art6() {
                var searchtext3 = document.getElementById('loadleague6').textContent;
                document.getElementById('id_league__icontains').value = searchtext3;
            };
            art6()
            function art7() {
                var searchtext = document.getElementById('loadleague7').textContent;
                document.getElementById('id_league__icontains').value = searchtext;
            };
            art7()
            function art8() {
                var searchtext2 = document.getElementById('loadleague8').textContent;
                document.getElementById('id_league__icontains').value = searchtext2;
            };
            art8()
            function art9() {
                var searchtext3 = document.getElementById('loadleague9').textContent;
                document.getElementById('id_league__icontains').value = searchtext3;
            };
            function art10() {
                var searchtext3 = document.getElementById('loadleague10').textContent;
                document.getElementById('id_league__icontains').value = searchtext3;
            };
            art10()
            art9()
        </script>
</body>
</html>